@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-container img {
    width: 60px;
    height: 54px;
}

.ant-menu-item-selected::after {
    display: none !important;
}

:where(.css-dev-only-do-not-override-240cud).ant-menu-horizontal {
    border-bottom: none;
}

.header-container-menu .ant-menu-item-selected::after {
    display: none !important;
}

.footer {
    background-color: #2C2C2C;
    color: #fff;
    padding: 20px 50px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 100px;
    height: 102px;
}

.footer-info .footer-social {
    display: flex;
    flex-direction: column;
}

.footer-info span,
.footer-social span {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 7px 0;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}

.footer-social .social-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    opacity: 0.7;
}

.m-t-md {
    margin-top: 15px;
}

.m-t-xl {
    margin-top: 100px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 60px;
}

.m-r-xxl {
    margin-right: 100px;
}

.usm-utm-img {
    width: 350px;
    height: 320px;
}

.usmf-asem-img {
    width: 325px;
    height: 165px;
}

.students-img {
    width: 521px;
    height: 579px;
}

.human-img {
    width: 500px;
    height: 562px;
}

.moldova-img {
    height: 345px;
    width: 450px;
}

.moldova-text {
    font-size: 64px;
    color: #BDBDBD;
}

.text-small {
    font-size: 16px;
}

.light-grey {
    color: #BDBDBD;
}

.light-grey-100 {
    color: #FBFBFB;
}

.about-moldova-container {
    background-color: #FBFBFB;
    padding: 50px 100px;
}

.p-x-xl {
    padding: 0 100px;
}
